[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.gitignore_global
	quotepath = false
	#F (--quit-if-one-screen) option to less.
	pager = less -+$LESS -R
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	finda = "!grepalias() { git config --global --get-regexp alias | grep -i \"$1\" | awk -v nr=2 '{sub(/^alias\\./,\"\")};{printf \"\\033[31m%_10s\\033[1;37m\", $1};{sep=FS};{for (x=nr; x<=NF; x++) {printf \"%s%s\", sep, $x; }; print \"\\033[0;39m\"}'; }; grepalias"
	unstage = reset HEAD --
	wdiff = diff --color-words
[color]
	pager = true
	ui = true
[diff "xls"]
	binary = true
	command = /usr/local/bin/ExcelCompare/bin/excel_cmp
[diff "xlsx"]
	binary = true
	command = /usr/local/bin/ExcelCompare/bin/excel_cmp
[diff "word"]
	binary = true
	textconv = docx2txt
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[include]
	path = ~/.gitconfig.rush #personal data
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = rushhike
	email = rustamoff@gmail.com
