[submodule "zshrc/zsh_plugins/zsh-history-substring-search"]
	path = zshrc/zsh_plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "vim/.vim/vim-pathogen"]
	path = vim/.vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/tmuxline.vim"]
	path = vim/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zshrc/zsh_plugins/zsh-autosuggestions"]
	path = zshrc/zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-minimap"]
	path = vim/.vim/bundle/vim-minimap
	url = https://github.com/severin-lemaignan/vim-minimap.git
[submodule "vim/.vim/bundle/undoquit.vim"]
	path = vim/.vim/bundle/undoquit.vim
	url = https://github.com/AndrewRadev/undoquit.vim.git
[submodule "vim/.vim/bundle/vim-orgmode"]
	path = vim/.vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/.vim/bundle/vim-speeddating"]
	path = vim/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "zshrc/zsh_prompts/pure"]
	path = zshrc/zsh_prompts/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zshrc/zsh_plugins/zsh-syntax-highlighting"]
	path = zshrc/zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/.vim/bundle/vim-which-key"]
	path = vim/.vim/bundle/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "vim/.vim/bundle/lusty"]
	path = vim/.vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/.vim/bundle/onehalf"]
	path = vim/.vim/bundle/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "vim/.vim/bundle/vim-xkbswitch"]
	path = vim/.vim/bundle/vim-xkbswitch
	url = https://github.com/lyokha/vim-xkbswitch.git
[submodule "vim/.vim/bundle/vim-sneak"]
	path = vim/.vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "zshrc/zsh_plugins/fzf-marks"]
	path = zshrc/zsh_plugins/fzf-marks
	url = git@github.com:urbainvaes/fzf-marks.git
[submodule "vim/.vim/bundle/ctrlp-z"]
	path = vim/.vim/bundle/ctrlp-z
	url = git@github.com:amiorin/ctrlp-z.git
[submodule "vim/.vim/bundle/ctrlp_bdelete.vim"]
	path = vim/.vim/bundle/ctrlp_bdelete.vim
	url = git@github.com:d11wtq/ctrlp_bdelete.vim.git
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/bundle/vim-fasd"]
	path = vim/.vim/bundle/vim-fasd
	url = git@github.com:amiorin/vim-fasd.git
[submodule "vim/.vim/bundle/tlib_vim"]
	path = vim/.vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.vim/bundle/vim-showmarks"]
	path = vim/.vim/bundle/vim-showmarks
	url = git@github.com:jacquesbh/vim-showmarks.git
[submodule "vim/.vim/bundle/ctrlp-mark"]
	path = vim/.vim/bundle/ctrlp-mark
	url = git@github.com:mattn/ctrlp-mark.git
[submodule "vim/.vim/bundle/vim-devicons"]
	path = vim/.vim/bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "vim/.vim/bundle/vim-markdown-extra-preview"]
	path = vim/.vim/bundle/vim-markdown-extra-preview
	url = git@github.com:waylan/vim-markdown-extra-preview.git
[submodule "vim/.vim/bundle/vim-zettel"]
	path = vim/.vim/bundle/vim-zettel
	url = https://github.com/michal-h21/vim-zettel.git
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/.vim/bundle/markdown-preview.nvim"]
	path = vim/.vim/bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "vim/.vim/bundle/vim-markdown-preview"]
	path = vim/.vim/bundle/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "vim/.vim/bundle/nnn.vim"]
	path = vim/.vim/bundle/nnn.vim
	url = https://github.com/mcchrish/nnn.vim
[submodule "vim/.vim/bundle/joplin.vim"]
	path = vim/.vim/bundle/joplin.vim
	url = git@github.com:tenfyzhong/joplin.vim.git
[submodule "vim/.vim/bundle/bclose.vim"]
	path = vim/.vim/bundle/bclose.vim
	url = https://github.com/rbgrouleff/bclose.vim.git
[submodule "vim/.vim/bundle/vim-lf"]
	path = vim/.vim/bundle/vim-lf
	url = https://github.com/thezeroalpha/vim-lf.git
[submodule "zshrc/zsh_prompts/spaceship-prompt"]
	path = zshrc/zsh_prompts/spaceship-prompt
	url = git@github.com:spaceship-prompt/spaceship-prompt.git
